<h3>Welcome!</h3>

<ul>
  <% @posts.each do |post| %>
    <li class="well">
      <%= link_to post.title, post_path(post) %><label for=" "><%= link_to 'edit', edit_post_path(post) %></label>
    <br/>

    </li>
  <% end %>
</ul>