/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}


/*

style for the comments and post list
*/


.container h3 {
  color: rosybrown;
}


.container .row{

}

.container .left {
  margin-right: 10px;
  float: left;
}

.container .right{
  width: 800px;
  margin-left: 90px;
}

.container .right li{
  list-style: none;
}


.container .left {
}

.container .left ul {
  overflow: hidden;
  float: left;
  margin-right: 10px;
  list-style: none;

}

.container .left li{
  list-style: none;
}


.container .rotate-up {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.rotate-down {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
}

.container #comments .something{
  width: 30px;
  float: left;
}



.container .row .div_left{
  float: left;
}

.container .row .div_right{
  width: 800px;
  margin-left: 90px;
}
.container .row .div_left ul{
  margin: 0;
  padding: 0;
}
.container .row .div_left ul li{
  list-style: none;
}
.container .row .div_left ul li.voting_icon{
  margin-left: 9px;
}

.container .row .lead{
  padding-bottom: 30px;
  border-bottom: 1px solid silver;
  width: 600px;
}

.container .row .muted{
  padding-bottom: 30px;
  border-bottom: 1px solid silver;
  width: 600px;

}

#btn_form{
  margin-top: 20px;
  border-top: 1px solid silver;
  width: 400px;
  padding-top: 20px;
}

.nav div:last-child{
  margin-left: 40px;
}